.logo {
  width: 100px;
}

.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}
.nav-bar {
  margin-right: 20px;
}
.nav-bar > ul {
  display: flex;
}
.nav-bar > ul > li {
  list-style: none;
  margin: 10px;
  font-size: 24px;
}
.card {
  width: 400px;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(242, 245, 248);
  margin: 8px;
}
.card:hover {
  border: 1px solid grey;
}
.food {
  width: 100%;
}
.search-bar {
  margin-bottom: 10px;
  margin-top: 10px;
}
.RestaurantContainer {
  display: flex;
  flex-wrap: wrap;
  /* margin: 10px; */
}
